.sidebar {
	display: flex;
	flex-direction: column;
	width: 990px;

	width: 305px;
	height: 100%;
	flex-shrink: 0;
	&__logo {
		margin-top: 20px;
		margin-bottom: 40px;
		padding-left: 27px;
	}

	&__header {
		h3 {
			padding-left: 31px;
			text-transform: uppercase;
			color: var(--color-gray);
		}
		ul,
		li {
			list-style: none;
			padding: 0;
			margin: 0;
		}
	}

	&__footer {
		position: fixed;
		left: 0;
		bottom: 0;
	}
	footer {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&__footer-policy {
		font-size: 12px;
		padding-left: 23px;
		color: var(--color-gray);
		margin-bottom: 16px;
	}
}
.items {
	display: flex;
	justify-content: flex-start;
	padding: 10px 0 10px 12px;
	margin-left: 12px;
	margin-right: 21px;
	align-items: center;
	font-size: 16px;
	color: var(--color-gray);
	&.active {
		background-color: var(--color-dark-ground);
		border-radius: var(--border-radius-m);
		color: var(--color-white);
	}

	&__images-site {
		width: 24px;
		height: 24px;
		margin-right: 10px;
		background-position: center;
		background-repeat: no-repeat;
		background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4 13H10C10.55 13 11 12.55 11 12V4C11 3.45 10.55 3 10 3H4C3.45 3 3 3.45 3 4V12C3 12.55 3.45 13 4 13ZM4 21H10C10.55 21 11 20.55 11 20V16C11 15.45 10.55 15 10 15H4C3.45 15 3 15.45 3 16V20C3 20.55 3.45 21 4 21ZM14 21H20C20.55 21 21 20.55 21 20V12C21 11.45 20.55 11 20 11H14C13.45 11 13 11.45 13 12V20C13 20.55 13.45 21 14 21ZM13 4V8C13 8.55 13.45 9 14 9H20C20.55 9 21 8.55 21 8V4C21 3.45 20.55 3 20 3H14C13.45 3 13 3.45 13 4Z' fill='%230085FF'/%3E%3C/svg%3E");
	}
	&__images-convertor {
		width: 24px;
		height: 24px;
		margin-right: 10px;
		background-position: center;
		background-repeat: no-repeat;
		background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4 5.25C3.58579 5.25 3.25 5.58579 3.25 6L3.25 8C3.25 8.41421 3.58579 8.75 4 8.75C4.41421 8.75 4.75 8.41421 4.75 8V6.75L15.25 6.75V8C15.25 8.41421 15.5858 8.75 16 8.75C16.4142 8.75 16.75 8.41421 16.75 8V6C16.75 5.80109 16.671 5.61032 16.5303 5.46967C16.3897 5.32902 16.1989 5.25 16 5.25L4 5.25Z' fill='%23969696'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.25 18C7.25 18.4142 7.58579 18.75 8 18.75H12C12.4142 18.75 12.75 18.4142 12.75 18C12.75 17.5858 12.4142 17.25 12 17.25H10.75L10.75 6C10.75 5.58579 10.4142 5.25 10 5.25C9.58579 5.25 9.25 5.58579 9.25 6L9.25 17.25H8C7.58579 17.25 7.25 17.5858 7.25 18Z' fill='%23969696'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14 11.25C13.5858 11.25 13.25 11.5858 13.25 12V13.5C13.25 13.9142 13.5858 14.25 14 14.25C14.4142 14.25 14.75 13.9142 14.75 13.5V12.75H19.25V13.5C19.25 13.9142 19.5858 14.25 20 14.25C20.4142 14.25 20.75 13.9142 20.75 13.5V12C20.75 11.8011 20.671 11.6103 20.5303 11.4697C20.3897 11.329 20.1989 11.25 20 11.25H14Z' fill='%23969696'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.75 18C14.75 18.4142 15.0858 18.75 15.5 18.75H18.5C18.9142 18.75 19.25 18.4142 19.25 18C19.25 17.5858 18.9142 17.25 18.5 17.25H17.75V12C17.75 11.5858 17.4142 11.25 17 11.25C16.5858 11.25 16.25 11.5858 16.25 12V17.25H15.5C15.0858 17.25 14.75 17.5858 14.75 18Z' fill='%23969696'/%3E%3C/svg%3E");
	}
}

.social {
	&__inner {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 14px;
		-moz-column-gap: 15px;
		column-gap: 15px;
		margin-left: 25px;

		a {
			margin: 0;
			padding: 0;
		}
	}

	&__inner-item-image {
		width: 53px;
		height: 44px;
		background-position: center;
		background-repeat: no-repeat;
		padding: 10px 15px 10px 15px;
		border-radius: var(--border-radius-m);
		background-color: var(--color-dark-ground);
		&--1 {
			background-image: url("data:image/svg+xml,%3Csvg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.899 13.9056C16.6595 13.7864 15.4851 13.212 15.2664 13.132C15.0478 13.0528 14.8886 13.0136 14.7287 13.252C14.5695 13.4888 14.1121 14.0248 13.973 14.1832C13.8332 14.3424 13.6941 14.3616 13.4554 14.2432C13.2166 14.1232 12.4465 13.8728 11.5342 13.0632C10.8244 12.4328 10.3445 11.6544 10.2054 11.416C10.0663 11.1784 10.1901 11.0496 10.3099 10.9312C10.4176 10.8248 10.5486 10.6536 10.6684 10.5152C10.7882 10.376 10.8276 10.2768 10.9072 10.1176C10.9875 9.95925 10.9473 9.82085 10.8871 9.70165C10.8276 9.58245 10.3501 8.41205 10.1507 7.93605C9.957 7.47285 9.76006 7.53605 9.61376 7.52805C9.47389 7.52165 9.31472 7.52005 9.15556 7.52005C8.9964 7.52005 8.73756 7.57925 8.51891 7.81765C8.29946 8.05525 7.68291 8.63045 7.68291 9.80085C7.68291 10.9704 8.5382 12.1008 8.65798 12.26C8.77775 12.4184 10.342 14.82 12.7383 15.8496C13.3091 16.0944 13.7536 16.2408 14.1 16.3496C14.6724 16.5312 15.1933 16.5056 15.6048 16.444C16.063 16.376 17.018 15.8688 17.2174 15.3136C17.4159 14.7584 17.4159 14.2824 17.3564 14.1832C17.297 14.084 17.1378 14.0248 16.8982 13.9056H16.899ZM12.5406 19.828H12.5374C11.1141 19.8283 9.71695 19.4475 8.49238 18.7256L8.203 18.5544L5.19499 19.34L5.99804 16.4216L5.80913 16.1224C5.01343 14.8619 4.59234 13.4031 4.59452 11.9144C4.59612 7.55445 8.16039 4.00725 12.5438 4.00725C14.666 4.00725 16.6611 4.83125 18.1611 6.32565C18.9009 7.05891 19.4873 7.9309 19.8864 8.89116C20.2854 9.85143 20.4892 10.8809 20.4858 11.92C20.4842 16.28 16.9199 19.828 12.5406 19.828ZM19.3026 5.19045C18.4169 4.30319 17.3631 3.59968 16.2022 3.1207C15.0413 2.64171 13.7965 2.39676 12.5398 2.40006C7.27134 2.40006 2.98199 6.66805 2.98039 11.9136C2.97958 13.5904 3.41929 15.2272 4.2561 16.6696L2.9 21.6L7.96747 20.2768C9.36928 21.0369 10.9402 21.4352 12.5366 21.4352H12.5406C17.809 21.4352 22.0983 17.1672 22.1 11.9208C22.1038 10.6707 21.8586 9.43213 21.3784 8.27687C20.8983 7.12162 20.1927 6.07259 19.3026 5.19045Z' fill='%23969696'/%3E%3C/svg%3E");
		}
		&--2 {
			background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.05878 11.4947C9.1931 9.69344 11.95 8.50595 13.3294 7.93221C17.2678 6.29406 18.0862 6.0095 18.6196 6.0001C18.737 5.99803 18.9993 6.02711 19.1692 6.16498C19.3127 6.2814 19.3521 6.43867 19.371 6.54905C19.3899 6.65943 19.4134 6.91087 19.3947 7.10734C19.1813 9.34984 18.2578 14.7918 17.788 17.3034C17.5892 18.3662 17.1978 18.7225 16.8188 18.7574C15.9952 18.8332 15.3698 18.2131 14.5722 17.6902C13.324 16.872 12.6188 16.3627 11.4072 15.5643C10.007 14.6416 10.9147 14.1344 11.7127 13.3056C11.9215 13.0887 15.5502 9.78817 15.6204 9.48876C15.6292 9.45132 15.6374 9.31173 15.5544 9.23803C15.4715 9.16432 15.3491 9.18953 15.2608 9.20957C15.1356 9.23799 13.1416 10.5559 9.27879 13.1635C8.7128 13.5521 8.20014 13.7415 7.74081 13.7316C7.23445 13.7206 6.2604 13.4452 5.53629 13.2099C4.64814 12.9212 3.94226 12.7685 4.00373 12.2782C4.03575 12.0228 4.38743 11.7617 5.05878 11.4947Z' fill='%23969696'/%3E%3C/svg%3E");
		}
		&--3 {
			background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.05878 11.4947C9.1931 9.69344 11.95 8.50595 13.3294 7.93221C17.2678 6.29406 18.0862 6.0095 18.6196 6.0001C18.737 5.99803 18.9993 6.02711 19.1692 6.16498C19.3127 6.2814 19.3521 6.43867 19.371 6.54905C19.3899 6.65943 19.4134 6.91087 19.3947 7.10734C19.1813 9.34984 18.2578 14.7918 17.788 17.3034C17.5892 18.3662 17.1978 18.7225 16.8188 18.7574C15.9952 18.8332 15.3698 18.2131 14.5722 17.6902C13.324 16.872 12.6188 16.3627 11.4072 15.5643C10.007 14.6416 10.9147 14.1344 11.7127 13.3056C11.9215 13.0887 15.5502 9.78817 15.6204 9.48876C15.6292 9.45132 15.6374 9.31173 15.5544 9.23803C15.4715 9.16432 15.3491 9.18953 15.2608 9.20957C15.1356 9.23799 13.1416 10.5559 9.27879 13.1635C8.7128 13.5521 8.20014 13.7415 7.74081 13.7316C7.23445 13.7206 6.2604 13.4452 5.53629 13.2099C4.64814 12.9212 3.94226 12.7685 4.00373 12.2782C4.03575 12.0228 4.38743 11.7617 5.05878 11.4947Z' fill='%23969696'/%3E%3C/svg%3E");
		}
		&--4 {
			background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.05878 11.4947C9.1931 9.69344 11.95 8.50595 13.3294 7.93221C17.2678 6.29406 18.0862 6.0095 18.6196 6.0001C18.737 5.99803 18.9993 6.02711 19.1692 6.16498C19.3127 6.2814 19.3521 6.43867 19.371 6.54905C19.3899 6.65943 19.4134 6.91087 19.3947 7.10734C19.1813 9.34984 18.2578 14.7918 17.788 17.3034C17.5892 18.3662 17.1978 18.7225 16.8188 18.7574C15.9952 18.8332 15.3698 18.2131 14.5722 17.6902C13.324 16.872 12.6188 16.3627 11.4072 15.5643C10.007 14.6416 10.9147 14.1344 11.7127 13.3056C11.9215 13.0887 15.5502 9.78817 15.6204 9.48876C15.6292 9.45132 15.6374 9.31173 15.5544 9.23803C15.4715 9.16432 15.3491 9.18953 15.2608 9.20957C15.1356 9.23799 13.1416 10.5559 9.27879 13.1635C8.7128 13.5521 8.20014 13.7415 7.74081 13.7316C7.23445 13.7206 6.2604 13.4452 5.53629 13.2099C4.64814 12.9212 3.94226 12.7685 4.00373 12.2782C4.03575 12.0228 4.38743 11.7617 5.05878 11.4947Z' fill='%23969696'/%3E%3C/svg%3E");
		}
	}
}
