.tools {
	&__inner {
		display: flex;
		flex-direction: column;
	}
}

.select {
	&__options {
		margin-bottom: 16px;
		background-color: var(--color-dark);
		border-radius: var(--border-radius-m);
		border: 1px solid var(--color-dark-ground);
		& menu {
			display: flex;
			justify-content: space-around;
			padding: 0;
			margin: 0;
			align-items: center;
			& li {
				list-style: none;
				& .active {
					background-color: var(--color-dark-ground);
					padding: 10px 45px 10px 44px;
					margin: -10px -45px -10px -44px;
					border-radius: 8px 0 0 8px;
				}
			}
		}
	}
}
.fields {
	position: relative;
	display: flex;
	-moz-column-gap: 16px;
	column-gap: 16px;
	margin-bottom: 32px;
}
.original,
.result {
	resize: none;
	border: 1px solid var(--color-dark-ground);
	border-radius: var(--border-radius-m);
	background-color: var(--color-dark);
	width: 592px;
	height: 363px;

	&::-webkit-input-placeholder {
		font-size: 16px;
	}

	&::-moz-placeholder {
		font-size: 16px;
	}

	&:-ms-input-placeholder {
		font-size: 16px;
	}

	&::-ms-input-placeholder {
		font-size: 16px;
	}

	&::placeholder {
		font-size: 16px;
	}
}
.button__cancel {
	position: absolute;
	top: 10px;
	left: 45%;
	width: 45px;
	height: 45px;
	background-color: var(--color-dark);
	border: none;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.69651 8.30271C9.08247 7.91218 9.70824 7.91218 10.0942 8.30271L16.3039 14.5858L22.5135 8.30271C22.8995 7.91218 23.5252 7.91218 23.9112 8.30271C24.2972 8.69323 24.2972 9.32639 23.9112 9.71692L17.7015 16L23.9112 22.2831C24.2972 22.6736 24.2972 23.3068 23.9112 23.6973C23.5252 24.0878 22.8995 24.0878 22.5135 23.6973L16.3039 17.4142L10.0942 23.6973C9.70824 24.0878 9.08247 24.0878 8.69651 23.6973C8.31055 23.3068 8.31055 22.6736 8.69651 22.2831L14.9062 16L8.69651 9.71692C8.31055 9.3264 8.31055 8.69323 8.69651 8.30271Z' fill='%23808080'/%3E%3C/svg%3E");
	&:hover {
		cursor: pointer;
		background-color: var(--color-dark-alt);
		border-radius: 50%;
	}
}
.button__copy {
	position: absolute;
	top: 10px;
	right: 0.7%;
	width: 45px;
	height: 45px;
	background-color: var(--color-dark);
	border: none;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M19.4665 11C20.449 11 21.2455 11.8059 21.2455 12.8L21.2455 25.8667C21.2455 26.8608 20.449 27.6667 19.4665 27.6667L6.55255 27.6667C5.57006 27.6667 4.77359 26.8608 4.77359 25.8667L4.77359 12.8C4.77359 11.8059 5.57006 11 6.55255 11L19.4665 11ZM19.2689 13L6.75021 13L6.75021 25.6667L19.2689 25.6667L19.2689 13Z' fill='%23808080'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M26.0553 4.33333C27.0378 4.33333 27.8342 5.13922 27.8342 6.13333L27.8342 19.2C27.8342 20.1941 27.0378 21 26.0553 21L20.2572 21C19.7113 21 19.2688 20.5523 19.2688 20C19.2688 19.4477 19.7113 19 20.2572 19L25.8576 19L25.8576 6.33333L13.339 6.33333L13.339 12C13.339 12.5523 12.8965 13 12.3506 13C11.8048 13 11.3623 12.5523 11.3623 12L11.3623 6.13333C11.3623 5.13921 12.1588 4.33333 13.1413 4.33333L26.0553 4.33333Z' fill='%23808080'/%3E%3C/svg%3E");
	&:hover {
		cursor: pointer;
		background-color: var(--color-dark-alt);
		border-radius: 50%;
	}
}
textarea {
	padding: 15px;
	color: var(--color-white);
	font-size: 16px;
	outline: none;
}
.button__options {
	padding: 10px 12px;
	border: none;
	background-color: var(--color-dark);
	color: var(--color-white);

	@include hover {
		cursor: pointer;
	}
}
